# Dependencies
/node_modules

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Build outputs
/build
/dist

# Testing
/coverage

# Logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# Misc
.DS_Store
